TRIAGEBOT_FLOW=foo/bar
TRIAGEBOT_FLOW_TOKEN=1234567890abcdef
TRIAGEBOT_FLOW_USER=foorbar@example.com
TRIAGEBOT_FLOW_PASS=correcthorsebatterystable
TRIAGEBOT_JIRA_USER=barbaz
TRIAGEBOT_JIRA_PASS=sup3rs3cr3t
TRIAGEBOT_JIRA_FILTER=22400
